<html>
<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="general">
            <h1>Genres</h1>
            </br>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                        <li>
                            <strong>{{ message }}</strong>
                        </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            {% for genre in genres %}
            <a href='{{ url_for('show_movies', genre_id=genre.id) }}'>{{ genre.name }}</a>
            </br>
            {% endfor %}
        </div>
    </div>
</body>
</html>
